.hoc-layer-one{
    display: flex;
    height: 100%;
    width: 100;
    /* background: greenyellow; */
    overflow-y: hidden;
    overflow-x: hidden;

}

.parent-container{
    /* background: blue; */
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
}

.hoc-layer-two{
    display: block;
    width: 93%;
    /* background: yellow; */
    padding-inline: 4rem;
    padding-block: 0.5rem;
}

@media screen and (max-width:1000px) {
    .hoc-layer-two{
        padding-inline: 1rem;
    }  
}

@media screen and (max-width:720px) {
    .hoc-layer-two{
        padding-inline: 1rem;
    }  
}