.hoc-layer-one{
    display: flex;
    height: 100%;
    /* background: greenyellow; */

}

.parent-container{
    /* background: blue; */
    width: 100vw;
    height: 100vh;
}

.hoc-layer-two{
    display: block;
    width: 100%;
}