.mainnav{
    width: 100%;
    /* padding-top: .5rem; */
    padding-left: 4rem;
    /* background: gray; */
    font-family: "Inter", serif;
    font-style: normal;
    font-size: small;
}

.mainnav h1{
    color: #62B2C0;
}

@media screen and (max-width:480px) {
    .mainnav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}