.alert-manager{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

@media screen and (max-width:1000px) {
    .alert-manager{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: wheat;
    }

    .alert-manager .left-container{
        width: 100%;
        background: blue;
        flex-grow: 1;
    }

    .right-container{
        display: none;
    }
}

.alert-manager-disabled{
    opacity: 0.2;
    z-index: 10;
}

.left-container{
    /* background: gray; */
    width: 55%;
    flex-grow: 1;
}

.right-container{
    /* background: yellow; */
    width: 45%;
}

.btn-div{
    display: flex;
    justify-content: end;
    /* padding-inline: 2rem; */
    padding-block: 1rem;
}

.btn-div button{
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    border: solid 1px #62B2C0;
    background: transparent;
    color: #62B2C0;
    font-weight: bold;
    border-radius: 10px;
    font-size: large;
}

.btn-div button:hover{
    background-color: #62B2C0;
    color: white;
    cursor: pointer;
}

.notification-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
    border: 1px solid #62B2C0;
    border-radius: 10px;
    font-family: "Inter", serif;
    margin-top: 2rem;
}

.alert-table {
    width: 100%;
    table-layout: fixed; /* Ensures fixed table layout */
    border-collapse: separate;
    border-spacing: 0 1rem;
}

.alert-table tr {
    border: 1px solid #62B2C0;
    border-radius: 1rem;
}

